.container {
    padding: 40px;
}

.second_button {
    width: 120px;
    height: 36px;
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 6px;
    color: rgba(139, 139, 139, 1);
    background-color: white;
}

.third_button {
    width: 205px;
    height: 36px;
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 6px;
    color: black;
    background-color: white;
}

.title {
    font-size: 64px;
    font-weight: 600;
}

.form_container {
    margin: 60px 0 35px 0;
    display: flex;
    column-gap: 30px;
}