.container {
    padding: 40px;
}

.second_button {
    width: 120px;
    height: 36px;
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 6px;
    color: black;
    background-color: white;
}

.picture {
    width: 316px;
    height: 350px;
    border-radius: 12px;
    padding-bottom: 16px;
}

.title {
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 30px;
}

.container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 32px;
}

.card {
    width: 316px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 58px;
    text-decoration: none;
}

.name {
    font-size: 20px;
    font-weight: 500;
    color: black;
}