.buttons {
    padding-bottom: 40px;
    display: inline-flex;
    align-items: center;
}

.first_button {
    width: 118px;
    height: 36px;
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    color: rgba(139, 139, 139, 1);
}

.Line_img {
    width: 16px;
    border: 1px solid rgba(221, 221, 221, 1);
}