.container_title {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    font-size: 44px;
    font-weight: 700;
}

.Line {
    width: 832px;
    border: 1px;
    color: rgba(221, 221, 221, 1);
}

.container_cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 316px;
    height: 350px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* .objects {
    display: flex;
    align-items: center;
} */