footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-top: 40px;
}

.contacts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}

.title {
    font-size: 64px;
    font-weight: 700;
    align-items: center;
}

.phone {
    width: 780px;
    height: 150px;
    padding: 32px;
    border-radius: 12px;
    gap: 16px;
    background-color: rgba(241, 243, 244, 1);
}

.subheading {
    font-size: 20px;
    font-weight: 500;
    color: rgba(139, 139, 139, 1);
    margin-bottom: 16px;
}

.telephone {
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-decoration: none
}

.socials {
    width: 548px;
    height: 150px;
    padding: 32px;
    column-gap: 16px;
    border-radius: 12px;
    background-color: rgba(241, 243, 244, 1)
}

.instagram {
    margin-right: 16px;
}

.address {
    width: 780px;
    height: 194px;
    border-radius: 12px;
    padding: 32px;
    gap: 16px;
    background-color: rgba(241, 243, 244, 1)
}

.store_address {
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.working_hours {
    width: 548px;
    height: 194px;
    padding: 32px;
    border-radius: 12px;
    background-color: rgba(241, 243, 244, 1)
}

.hours {
    font-size: 40px;
    font-weight: 6000;
}

.map {
    margin-top: 32px;
    width: 1490px;
    height: 400px;
    border-radius: var(--radius-big, 12px);
}