.container {
    padding: 40px;
}

.container_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.img_orderform {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.title {
    font-size: 64px;
    font-weight: 700;
}

.Line {
    width: 832px;
    color: rgba(221, 221, 221, 1);
}

.button {
    width: 170px;
    height: 36px;
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    color: rgba(139, 139, 139, 1);
}

.carts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.cart_container {
    display: flex;
    width: 780px;
    align-items: flex-start;
    gap: 32px;
    border-radius: var(--radius-big, 12px);
    border: 1px solid var(--grey-divider, #DDD);
}

/* 
.cart {

    border-radius: 12px, 0, 0, 12px;
    display: flex;
    height: 180px;
} */

.picture {
    width: 200px;
    height: 180px;
    border-radius: 12px, 0, 0, 12px;
    /* border: 1px solid rgba(221, 221, 221, 1); */
}

.cart_product {
    width: 548px;
    height: 180px;
    border-left: 1px solid rgba(221, 221, 221, 1);
}

.product_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
}

.product_title {
    font-size: 20px;
    font-weight: 500;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: auto;
}

.cart_item {
    display: flex;
    align-items: end;
}

.price_container {
    width: 284px;
    height: 44px;
    gap: 16px;
}

.sale_price {
    font-size: 40px;
    font-weight: 600;
    margin-left: 16px;
    color: black;
}

.full_price {
    font-size: 20px;
    font-weight: 500;
    margin-left: 32px;
    text-decoration: line-through;
    color: rgba(221, 221, 221, 1);
}