.container {
    width: 100%;
    padding: 40px;
}

.buttons {
    padding-bottom: 40px;
}

.first_button {
    width: 118px;
    height: 36px;
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    color: rgba(221, 221, 221, 1);
}

.Line {
    width: 16px;
    border: 1px solid rgba(221, 221, 221, 1);
}

.second_button {
    width: 120px;
    height: 36px;
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    color: rgba(221, 221, 221, 1);
}

.Line {
    width: 16px;
    border: 1px solid rgba(221, 221, 221, 1);
}

.third_button {
    width: 205px;
    height: 36px;
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    color: black;
}

.title {
    font-size: 64px;
    font-weight: 600;
}

.price_filter {
    display: flex;
    align-items: center;
    /* width: 309px;
    height: 36px; */
    gap: 16px;
}

.subheading {
    font-size: 20px;
    font-weight: 600;

}

.input {
    width: 112px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
}

.box {
    width: 36px;
    height: 36px;
}