.container_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.title {
    font-size: 64px;
    font-weight: 700;

}

.Line {
    width: 832px;
    border: 1px;
    color: rgba(221, 221, 221, 1);
}

.button {
    width: 142px;
    height: 36px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 6px;
    background-color: white;
}

.container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 32px;
}

.card {
    width: 316px;
    height: 350px;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

.category_title {
    font-size: 20px;
    font-weight: 500;
    color: black;
}


.picture {
    width: 316px;
    height: 350px;
    border-radius: 12px;
}