.cart_form {
    width: 548px;
    height: 582px;
    padding: 32px;
    background-color: rgba(241, 243, 244, 1);
    flex-direction: column;
    display: flex;
    display: inline-block;
    align-items: center;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
}

.order {
    width: 484px;
    height: 122px;
    gap: 32px;
}

.items,
.total {
    font-size: 40px;
    font-weight: 500;
    color: rgba(139, 139, 139, 1);
}


.string {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-self: stretch;

}

.order_price {
    font-size: 64px;
    font-weight: 700;
}

.input_order_form {
    width: 484px;
    height: 58px;
    margin-bottom: 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.cart_button {
    width: 484px;
    height: 58px;
    margin-top: 16px;
    padding: 16px, 32px, 16px, 32px;
    gap: 10px;
    background-color: rgba(51, 153, 51, 1);
    color: white;
}

.button {
    width: 484px;
    height: 58px;
    border-radius: 6px;
    padding: 16px 32px;
    background-color: var(--green);

}